﻿@*@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>*@



<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Recurring Jobs</h1>
        <div class="js-jobs-list">
            <div class="btn-toolbar btn-toolbar-top">
                <button class="js-jobs-list-command btn btn-sm btn-primary"
                        data-url="/insidepostage/recurring/trigger"
                        data-loading-text="Triggering..."
                        disabled="disabled">
                    <span class="glyphicon glyphicon-play-circle"></span>
                    Trigger now
                </button>
                <button class="js-jobs-list-command btn btn-sm btn-default"
                        data-url="/insidepostage/recurring/remove"
                        data-loading-text="Deleting..."
                        data-confirm="Do you really want to DELETE ALL selected jobs?"
                        disabled="disabled">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete
                </button>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="min-width">
                                <input type="checkbox" class="js-jobs-list-select-all" />
                            </th>
                            <th>Id</th>
                            <th class="min-width">Cron</th>
                            <th>Time zone</th>
                            <th>Job</th>
                            <th class="align-right min-width">Next execution</th>
                            <th class="align-right min-width">Last execution</th>
                            <th class="align-right min-width">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="js-jobs-list-row hover">
                            <td rowspan="1">
                                <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="FSafeMonthlyPostage" />
                            </td>
                            <td class="word-break width-15">FSafeMonthlyPostage</td>
                            <td class="min-width min-width-125p ">


                                <code class="cron-badge">59 12 31 12 *</code>
                            </td>
                            <td>
                                <span title="(UTC) Coordinated Universal Time" data-container="body">
                                    UTC
                                </span>
                            </td>
                            <td class="word-break width-30">
                                PostageRepository.FSafePostage
                            </td>
                            <td class="align-right min-width">
                                <span data-moment="1704027540">31-12-2023 12:59:00</span>
                            </td>
                            <td class="align-right min-width">
                                <em>N/A</em>
                            </td>
                            <td class="align-right min-width">
                                <span data-moment="1676794977">19-02-2023 8:22:57</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>
